<header>
    <div class="header-area">
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid p-0">
                <div class="row align-items-center no-gutters">
                    <div class="col-xl-5 col-lg-6">
                        <div class="main-menu d-none d-lg-block">
                            <nav *ngIf="!authService.isAuthenticated()">
                                <ul id="navigation">
                                    <li><a id="menuUsuarios" routerLink="/usuarios">Usuarios</a></li>
                                    <li><a id="menuPagos" routerLink="/pagos">Pagos</a></li>
                                    <li><a id="menuApartamentos" routerLink="/apartamentos">Apartamentos</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-4 d-none d-lg-block text-end">
                        <div class="Login">
                            <div class="Login_btn d-none d-lg-block">
                                <!-- Si el usuario NO está autenticado, mostramos el botón de login -->
                                <a *ngIf="!authService.isAuthenticated()" routerLink="/login" class="popup-with-form btn-login">Iniciar Sesión</a>
                                <!-- Si el usuario está autenticado, mostramos el botón de logout -->
                                <a *ngIf="authService.isAuthenticated()" (click)="onLogout()" class="popup-with-form btn-logout">Cerrar Sesión</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


<router-outlet></router-outlet>
